<!DOCTYPE html>
<html lang="en">

<head>
    <title>Logout</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
    
<body>
    <div class="logout-container">
        <div class="logout-message">
            <p><strong>Goodbye <%= @user %>!</strong>
            <br>You have succesfully logged out<br>
            <a href="/signin"><button class="btn">Sign in again</button></a></p>
        </div>
    </div>
</body>
</html>
