<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>

  <!--TO ATTACH-->
  <link rel="stylesheet" href="./style/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!--To ATTACH-->

</head>
<body>
    <!--Forgot Password-->
    <div class="forgot-password-container">
      <div class="forgot-password-box">
        <a id="exit-btn-password" href="/signin">&#10005</a>
        <h1>Reset Password</h1>
        <p>Enter the email associated with your account and we'll send an email with instructions to reset your password.</p>
        </br></br>
        <p>Email adress</p>

        <form>
           <input class="resetPasswordEmail" type="email"></input>

           <button class="resetPasswordButton"type="submit" >Submit</button>
        </form>
        
      </div>
    </div>
</body>
<script src="./js/scripts.js"></script>
</html>
