<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!--TO ATTACH-->
  <link rel="stylesheet" href="./style/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!--To ATTACH-->

</head>
<body>
  <!--Main Page-->
    <div class="homepage-container">
      <div class="homepage-navbar">
        <div id="logo"><a href="homepage.html">STUDENTMENT</a></div>
      </div>

      <div class="new-passowrd-box">
        <h1>Create New Password</h1>
        <p>Your new passowrd must be different from previous used password.</p>

        <form>
          <label>Passowrd</br></label>
          <input class="password" type="password"></input></br>
          <label>Confirm Password</br></label>
          <input class="confirmPassword" type="password"></input>
          <button class="newPassword-btn" type="submit" >Submit</button>
          <p>Both passwords must match.</p>
        </form>
      </div>
    </div>
      
</body>
<script src="./js/newPassword.js"></script>
</html>